@import './_colors';

* {
  font-family: 'Varela Round', sans-serif;
}

p {
  margin: 0;
}

@mixin button {
  min-width: 5em;
  padding: 1em;
  border-radius: 1.5em;
  color: $white;
  font-weight: bold;
}

@mixin plate {
  display: inline-block;
  background-color: $light-gray;
  color: $white;
  border-radius: 0.5em;
}
