@import '../../styles/_global';
@import '../../styles/_colors';

.button {
  @include button;
  box-sizing: border-box;
  display: inline-block;
  background-color: $gray;
  text-align: center;
  cursor: pointer;
  &__active {
    background-color: $dark-gray;
  }
}
