@import '../../styles/_colors';

.game {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  &_4 {
    font-size: 20px;
  }
  &_6 {
    font-size: 16px;
  }
  &_8 {
    font-size: 13px;
  }
}

.gameover {
  box-sizing: border-box;
  top: 50%;
  right: 50%;
  position: absolute;
  transform: translate(50%, 50%);
  background: $orange;
  color: $white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .game {
    &_4 {
      font-size: 16px;
    }
    &_6 {
      font-size: 12px;
    }
    &_8 {
      font-size: 9px;
    }
  }
}
