@import '../../styles/_colors.scss';
@import '../../styles/_anims.scss';

.card {
  position: relative;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  color: $white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &_flip {
    transform: rotateX(180deg);
  }
  &__front,
  &__back {
    box-sizing: border-box;
    font-size: 1.5em;
    border: 0.2em solid $white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  &__back {
    background-color: $orange;
    transform: rotateX(180deg);
    transition: background-color 0s 0.4s;
    &_open {
      background-color: $light-gray;
    }
  }
  &__front {
    background-color: $dark-gray;
  }
}
