@import './styles/_global';
@import './styles/_colors';

.wrapper {
  margin: 0.7em;
  height: calc(100vh - 1.4em);
}

.header {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  margin-right: auto;
  font-size: 2.5em;
  font-weight: 900;
}

.button {
  @include button;
  border: 0;
  &_restart {
    background-color: $orange;
  }
  &_newgame {
    margin-left: 0.5em;
    color: $dark-gray;
  }
}

.plate {
  @include plate;
  padding: 1em;
  text-align: center;
  &__title {
    color: $gray;
  }
  &__text {
    font-weight: 900;
    font-size: 1.5em;
    color: $dark-gray;
  }
}
